.hero-slider {
  position: relative;
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;

  

  .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;

    h3 {
      font-size: 60px;
      color: #f5b800;
      margin-bottom: -10px;
    }

    h1 {
      font-size: 130px;
      font-weight: 800;
      margin-bottom: -20px;
    }

    h2 {
      font-size: 100px;
      font-weight: 800;
      color: #f5b800;
      margin-bottom: 40px;
    }

    .apply-btn {
      background: #b50000;
      color: #fff;
      border: none;
      padding: 14px 35px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #8b0000;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      margin: 0 6px;
      cursor: pointer;
      transition: all 0.3s;

      &.active {
        background: #f5b800;
        transform: scale(1.2);
      }
    }
  }
}

/* === Responsive === */
@media (max-width: 992px) {
  .hero-slider {
    height: 75vh;
    .hero-text {
      left: 6%;
      h3 { font-size: 45px; }
      h1 { font-size: 90px; }
      h2 { font-size: 70px; }
    }
  }
}

@media (max-width: 780px) {
  .hero-slider {
    height: 65vh;
    .hero-text {
      left: 5%;
      top: 52%;
      h3 { font-size: 35px; }
      h1 { font-size: 70px; }
      h2 { font-size: 55px; }
    }
  }
}

@media (max-width: 568px) {
  .hero-slider {
    height: 25vh;
    .hero-text {
      h3 { font-size: 28px; }
      h1 { font-size: 50px; }
      h2 { font-size: 36px; }
    }
  }
}
